worker_processes  1;
daemon off;
pid tmp/nginx.pid;
error_log stderr;

events {
  worker_connections  1024;
}

http {
  include       mime.types;
  default_type  application/octet-stream;

  access_log logs/access.log;

  sendfile        on;
  #tcp_nopush     on;

  #keepalive_timeout  0;
  keepalive_timeout  65;

  #gzip  on;
  proxy_temp_path proxy_temp;
  client_body_temp_path client_body_temp;
  uwsgi_temp_path uwsgi_temp;
  fastcgi_temp_path fastcgi_temp;
  scgi_temp_path scgi_temp;

  client_max_body_size 0;

  upstream gitlab-workhorse {
    server <%= config.hostname %>:<%= config.workhorse.__active_port  %> fail_timeout=0;
  }

  map $http_upgrade $connection_upgrade {
      default upgrade;
      ''      close;
  }

<% if config.https? %>
  server {
    listen <%= config.hostname %>:<%= config.port %> ssl;

    ssl_certificate <%= config.gdk_root %>/<%= config.nginx.ssl.certificate %>;
    ssl_certificate_key <%= config.gdk_root %>/<%= config.nginx.ssl.key %>;

    location / {
        proxy_set_header    Host                $http_host;
        proxy_set_header    X-Real-IP           $remote_addr;
        proxy_set_header    X-Forwarded-For     $proxy_add_x_forwarded_for;
        proxy_set_header    X-Forwarded-Proto   $scheme;
        proxy_set_header    Upgrade             $http_upgrade;
        proxy_set_header    Connection          $connection_upgrade;

        proxy_read_timeout 300;

        proxy_pass http://gitlab-workhorse;
    }
  }

<% if config.nginx.http? %>
  server {
    listen <%= config.hostname %>:<%= config.nginx.http.port %>;

    return 301 https://$host$request_uri;
  }
<%   end %>
<% end %>
}
